@import "../../styles/variables.scss";

.services-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: -2rem;
  width: 100%;

  .service-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .section {
      margin-right: 32px;
      color: white;
      background-color: $section-background;
      border-radius: 1.5rem;
      padding: 30px;
      max-width: 25rem;
      margin-bottom: 32px;

      h2 {
        font-family: $primary-font;
        text-transform: uppercase;
        padding: 8px 0;
      }

      

      .button {
        width: 10rem;
        height: 3rem;
        border-radius: 4rem;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-weight: bold;
        letter-spacing: 1px;
        padding-inline: 18px;
        opacity: 0.7;
        margin: 2rem 0;

        .text {
          font-weight: 300;
          letter-spacing: 1.5px;
        }

        .arrow {
          width: 28px;
          height: 28px;
          background: white;
          border-radius: 100%;
          color: $primary-color;
          padding-top: 5px;
        }
      }

      .engine,
      .gear,
      .group {
        color: $primary-color;
      }
    }
  }

  .why-us-container {
    max-width: 80rem;
    color: #fff;
    display: flex;
    margin-top: 6rem;
    .why-us {
      max-width: 30rem;
      margin-right: 2.5rem;

      h1 {
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: 44px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 3rem;
      }
      p {
        width: fit-content;
        font-size: 20px;
        line-height: 1.5;
      }
      .button {
        width: 10rem;
        height: 3rem;
        border-radius: 4rem;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-weight: bold;
        letter-spacing: 1px;
        padding-inline: 18px;
        background-color: $primary-color;
        opacity: 1;
        margin: 2rem 0;

        .text {
          font-weight: 300;
          letter-spacing: 1.5px;
        }

        .arrow {
          width: 28px;
          height: 28px;
          background: white;
          border-radius: 100%;
          color: $primary-color;
          padding-top: 5px;
        }
      }
    }

    .why-us-text {

      h1 {
        width: fit-content;
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.5;
        color: #000;
        cursor: pointer;
        text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
        &.active {
          color: $primary-color;
        }
      }

      p {
        font-size: 20px;
        line-height: 1.5;
        margin: 20px 0;
      }
    }
  }

  @include media("<=1086px") {
    .service-section {
      display: flex;
      flex-wrap: wrap;

      .section {
        margin-bottom: 20px;
      }
    }

    .why-us-container {
      margin-top: 10px;
      display: flex;
      align-items: center;

      .why-us {
        margin-bottom: 50px;
      }
      .why-us-text {
        h1 {
          line-height: 1;
          margin-bottom: 25px;
        }
      }
    }
  }

  @include media("<=tablet") {
    .service-section {
      width: 100%;
      .section {
        margin-bottom: 20px;
        width: 100%;
      }
    }

    .why-us-container {
      width: 100%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 20px;
      .why-us {
        width: 100%;
        margin-bottom: 50px;
        p {
          width: 100%;
        }
      }

      .why-us-text {
        width: 100%;
        h1 {
          line-height: 1;
          margin-bottom: 25px;
        }
      }
    }
  }
}
