@import "../../styles/variables.scss";

.contact-container {
  color: #fff;
  margin-bottom: 2rem;
  width: 100%;
  .form-and-text {
    display: flex;
    width: 100%;
    justify-content: center;
    form {
      border-radius: 12px;
      padding: 2rem;
      background-color: $section-background;
      margin-right: 40px;
      .flex {
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;

        .name,
        .phone,
        .email-address,
        .car-model {
          margin-right: 1.5rem;
        }
      }
      label {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: $secondary-font;
      }

      input {
        width: 100%;
        height: 60px;
        border-radius: 10px;
        background: transparent;
        border: 1px solid #606265;
        color: $primary-color;
        margin-top: 1rem;
        margin-right: 15rem;
        padding-left: 2rem;
      }

      ::-webkit-input-placeholder {
        text-transform: capitalize;
        font-family: $secondary-font;
        font-size: 16px;
        letter-spacing: 1px;
      }

      textarea {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        background: transparent;
        border: 1px solid #606265;
        padding: 10px;
        color: $primary-color;
        margin-top: 1rem;
      }

      .button {
        width: 16rem;
        height: 3rem;
        border: none;
        border-radius: 4rem;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $primary-color;
        color: #fff;
        margin-top: 1.5rem;
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .appointment {
    width: 23rem;
    margin-left: 2rem;
    margin-right: 1rem;
    h2 {
      font-family: $primary-font;
      font-weight: bolder;
      font-size: 45px;
      margin-bottom: 3rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .icon-container,
    .email,
    .address-container,
    .phone-container {
      display: flex;
      align-items: center;
      color: $primary-color;
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-family: $secondary-font;
      font-size: 18px;
      letter-spacing: 1px;
      .icon {
        margin-right: 20px;
      }
      p {
        width: 15rem;
      }
    }

    .email {
      .text {
        color: #fff;
      }
    }

    .address-container {
      p {
        color: #fff;
      }
    }
    .outside {
      text-transform: capitalize;
      font-family: $secondary-font;
      font-size: 18px;
      letter-spacing: 1px;
      margin-left: 2.9rem;
      margin-bottom: 1rem;
      width: 15rem;
    }
    .phone-container {
      p {
        color: #fff;
      }
    }
  }

  .footer {
    max-width: 79rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem auto;
    h1 {
      cursor: pointer;
      font-family: $primary-font;
      font-weight: 700;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      width: 60%;

      justify-content: space-between;

      li {
        cursor: pointer;
        list-style: none;
        font-family: $secondary-font;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: capitalize;
      }
    }
  }

  @include media("<1260px") {
    .form-and-text {
      .form {
        form {
          max-width: 40rem;

          input {
            width: 260px;
          }
          textarea {
            width: 90%;
          }
        }
      }
    }
  }

  @include media("<1000px") {
    margin-top: 4rem;
    padding: 0;
    .form-and-text {
      flex-wrap: wrap;

      .form {
        width: 100%;

        form {
          width: 100%;

          input {
            width: 100%;
          }
        }
        margin-bottom: 40px;
      }
      .appointment {
        width: 100%;
        margin: 0;
      }
    }

    .footer {
      flex-direction: column;
      ul {
        margin-top: 40px;
        width: 80%;
      }
    }
  }

  @include media("<=tablet") {
    .footer {
      flex-direction: column;
      ul {
        width: 100%;
        grid-column-gap: 90px;
        grid-row-gap: 40px;
        flex-wrap: wrap;
      }
    }
  }
  @include media("<=640px") {
    .form-and-text {
      .form {
        width: 100%;
        form {
          .flex {
            flex-direction: column;
            .name,
            .car-model {
              margin-bottom: 32px;
            }
          }
          input {
            width: 100%;
          }
          textarea {
            width: 100%;
          }
        }
      }
    }
  }
}
