@import "../../styles/variables.scss";

.subscription-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 6rem;
  .subscription-header {
    max-width: 35rem;
    h1 {
      text-transform: uppercase;
      font-family: $primary-font;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      font-family: $secondary-font;
      color: gray;
      font-size: 18px;
      font-weight: 500;
      max-width: 45rem;
      letter-spacing: 1px;
      text-align: center;
    }
  }

  .subscription-types {
    display: flex;
    margin-top: 4rem;
    padding: 0 36px;

    .card {
      border: 1px solid $primary-color;
      border-radius: 8px;
      width: 23rem;
      padding: 2rem 1.8rem;
      margin-right: 2rem;
      background-color: $section-background;

      p {
        text-transform: capitalize;
        color: gray;
        font-size: 16px;
        font-family: $secondary-font;
        letter-spacing: 1px;
        margin-bottom: 32px;
      }

      .price-container {
        position: relative;
        width: 200px;

        h1 {
          font-family: $primary-font;
          font-weight: bolder;
          font-size: 50px;
          margin-bottom: 3rem;
        }

        .strike {
          position: absolute;
          top: 0;
          text-decoration: line-through;
          color: gray;
          font-family: $primary-font;
          font-size: 24px;
          font-weight: bolder;
          right: 12px;
        }
      }

      .service {
        display: flex;
        align-items: center;
        .check {
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          background-color: #452119;
          margin: 9px 0;
          margin-right: 0.8rem;
          padding-top: 3px;
          padding-left: 2.5px;
          color: $primary-color;
        }

        .service-text {
          font-family: $secondary-font;
          font-size: 16px;
          font-weight: 700;
          text-transform: capitalize;
        }
      }

      .service4 {
        margin-bottom: 2rem;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 3rem;
        border: none;
        border-radius: 4rem;
        margin-bottom: 2rem;
        cursor: pointer;

        .text {
          font-family: $secondary-font;
          font-size: 16px;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .arrow {
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 100%;
          background-color: rgba(93, 92, 92, 0.9);
          color: #fff;
          padding-top: 6px;
          margin-left: 2rem;
        }
      }
    }

    .card:nth-child(2) {
      background-color: #4d170b;
      .button {
        background-color: $primary-color;
        margin-bottom: 4rem;
      }
    }
  }

  @include media("<=1000px") {
    margin: 0 32px;
    .subscription-types {
      flex-wrap: wrap;
      .card {
        margin: 0;
        margin-right: 30px;
        margin-bottom: 32px;
        flex-grow: 3;
      }
    }
    // specify grow for tablet
  }
}
